.btn1:hover {
  border-color: aliceblue;
  box-shadow: inset 300px 0 0 0 #F2F6D0;
  cursor: pointer;

}
@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">);

.reciperesize{
  width: 200px;
  height: 150px;
}